@import 'hero.css';
@import 'comparativa.css';
@import 'carrusel.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  min-height: 75rem;
  padding-top: 4.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
p {
  font-family: 'Lato', sans-serif;
}

.letraPequeña {
  font-size: 1em;
}

nav {
  border-bottom: 3px rgb(63, 63, 63) solid;
}
